*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('assets/park.png'); 
    background-size: cover; /* mengisi layar dengan gambar */
    background-repeat: no-repeat; /* menghindari pengulangan gambar */
    background-position: center center; /* mengatur posisi gambar agar ditengah layar */
}

.Judul h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: sienna;

}
#game{ /*Frame Game*/
    margin-top: 30px;
    width: 400px;
    height: 500px;
    /* border: 1px solid #181818; */
    margin: auto;
    overflow: hidden;
}
#block{ /*Obstacle atau Rintangan*/
    width: 50px;
    height: 500px;
    background-color: #218b53 ;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 400px;}
    100%{left: -50%;}
}

#hole{ /*Safe Area*/
    width: 50px;
    height: 150px;
    background-color: rgb(231, 222, 222);
    /* background-image: url('park.png'); /*  rintangan */
    /* background-size: 100% 100%; Sesuaikan dengan ukuran hole */ 
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
    /* opacity: 0;
    z-index: 1; */
}

#character{ /*Object*/
    width: 50px;
    height: 50px;
    background-color: rgb(231, 222, 222);
    position: absolute;
    /* top: 100px; */
    border-radius: 50%;
}